
{% extends "base.html" %}

{% block content %}
    
<center>
<table width="1200px" border="0" frame="void">
 <tr>
  <td colspan="2" bgcolor="#fff" border="0">
      <center><img src="static/header.png" width="100%"/></center>
      <!-- <h2><img src="static/triangle_square.png" height="20" width="20"/><a href="{{ url_for("index") }}" class="button">&nbsp Ring laser Database - Query  &nbsp</a><img src="static/triangle_square.png" height="20" width="20"/></h2> -->
  </td>
 </tr> 
    <td bgcolor="#f2f2f2" border="0" colspan="2">
        <table align="center">
            <td width="145px"><center><a href="{{ url_for("index") }}"><font size="2"><b>HOME<b></font></a></center></td>
            <td width="180px"><center><a href="http://www.geophysik.uni-muenchen.de/" target = "_blank"><font size="2"><b>Geophysics LMU<b></font></a></center></td>
            <td width="180px"><center><a href="http://www.geophysik.uni-muenchen.de/ROMY" target = "_blank"><font size="2"><b>ROMY Project<b></font></a></center></td>
            <td width="250px"><center><a href="http://www.rotational-seismology.org/" target = "_blank"><font size="2"><b>Rotational Seismology Website<b></font></a></center></td>
<!--             <td width="155px"><center><a href="{{ url_for("index") }}" style="color:#1ab0ff"><font size="2"><b>Contact<b></font></a></center></td> -->
        </table>
    </td>
 <tr valign="top">
  <td bgcolor="#f2f2f2" width="200px" border="0"><br>
    <b>&nbsp Note:</b><br>
    <font size="2">
        <ul style="padding-left:20px">
            <li class="detail1">Database support starts at: <b>2007-07-18</b> <br> <a href=# id="btn_1"> more</a> </li>
            <br>
            <li>The map can show a maximum of <b>2500</b> events at once.</li>
            <br>
            <li>The success of evaluation depends on <b>magnitude</b>, <b>epicentral distance</b> and <b>source depth</b></li>
            <br>
            <li><b>Click</b> the event markers on the map for <b>popup content</b> (plots)</li>
            <br>            
            <li>Information on the popup content: <a href="static/explanations.pdf"  onclick="window.open('static/explanations.pdf', 'newwindow', 'width=1000, height=800'); return false;"><b>processing guide</b></a></li>
            <br>
            <li>Event information was fetched from the <a href="http://www.globalcmt.org/"  target="_blank"><b>GCMT catalog</b></a></li><br>
            <li>Simple data fetching example using <i>ObsPy</i>: <a href="static/fetch_data.py"  target="_blank"><b>source code</b></a></li>
        </ul>
    </font>
    <span style="padding-left:0px"> <font size="2"> &nbsp powered by:</font> 
    <center>
        <span style="padding-left:0px">
        <!-- <a href="http://www.geophysik.uni-muenchen.de/" target = "_blank" title='LMU Geophysics Website'><img src="static/LMU_Logo.png"  height=75 width=150/> </a> -->
        <a href="http://www.geophysik.uni-muenchen.de/ROMY/" target = "_blank" title='ROMY-Website'><img src="static/romy_logo.png"  height=60 width=145/> </a>
    </center>
    
  </td>
  <td width="900px">
  <center>
  <table width="1050px">
   <tr valign="top">
    <td width="300px" style="padding-left:30px">
        {% from "_formhelpers.html" import render_field %}
        <p>
        <font size="2">
            <b>Start time </b><span style="padding-left:20px"> <input size="14" type="text" name="start" value="2007-07-18T00:00">
            <br>
            <b>End time</b><span style="padding-left:29px"> <input size="14" id="theDate" name="end">
            
            <br>
            <span style="padding-left:102px"><font color="Grey" size=2>YYYY<b>-</b>mm<b>-</b>dd<b>T</b>HH<b>:</b>MM</font><br>
            <br>
            <b>Min. magnitude </b> <span style="padding-left:10px"><input size="2" type="text" name="minmag" value="8.5">
            <br> 
            <b>Max. magnitude </b><span style="padding-left:6px"><input size="2" type="text" name="maxmag" value="9.5">
            <br><br>
            <b>Latitude/Longitude:</b>

            <table class="tftable" width="210px">
                <tr><td width="70px"></td><td width="70px" align="center"><font size="2"><b>North</b></font></td><tdwidth="70px"> </td></tr>

                <tr><td> <font size="2"><b>West</b></font></td><td> <input size="5" type="text" name="maxlat" value="90.0"></td><td align="right"> <font size="2"><b>East</b></font></td></tr>

                <tr><td><input size="5" type="text" name="minlon" value="-180.0"></td><td> </td><td><input size="5" type="text" name="maxlon" value="180.0"></td></tr>

                <tr><td> </td><td><input size="5" type="text" name="minlat" value="-90.0"></td><td> </td></tr>

                <tr><td> </td><td align="center"><font size="2"><b>South</b></font></td><td> </td></tr>
            </table>
        </font>
        <p><span style="padding-left:150px">  <a href=# id="calculate"><mybutton type="mybutton"><img src="static/lupe.png" width="12px" height="12px"/><b> Search</b></mybutton></a><br>
    </td>
    <td width="700px">
    <br><br>
    <div id="map"></div>
    <script type="text/javascript">
        // swing out content by click
        $(document).ready(function () {
        $('body').on('click','li.detail1 a',function () { 
                        swal("Event Database Support", "Processed event data is available from 08-2007, but there were some quality issues until 2008.\n\n In May 2009 the ring laser mirrors were replaced, yielding higher quality results afterwards", 'info');
                    });
        });

        

        // Update the date in "end time"
        var today = new Date();
        var dd = today.getDate();
        var mm = today.getMonth()+1; //January is 0!
        var yyyy = today.getFullYear();
        if(dd<10){dd='0'+dd} if(mm<10){mm='0'+mm} today = yyyy+'-'+mm+'-'+dd+'T00:00';
        $('#theDate').val(today);


        function onEachFeature(feature, layer) {

            var container = $('<div />');
            var date = feature.properties.time.substring(0,10);
            var time = feature.properties.time.substring(11,16);
            var magnitude = feature.properties.magnitude;
            // var region = feature.properties.region;
            var depth = feature.properties.depth;
            var link1 = feature.properties.page1_URL;
            var link2 = feature.properties.page2_URL;
            var link3 = feature.properties.page3_URL;
            var link4 = feature.properties.page4_URL;
            var json = feature.properties.page4_URL.slice(0,-11) + ".json";
            var height = "60"
            var width= "110"

            // fills the container with event info and images
            container.html("<dt>"+"<b>Date:</b> "+date+"    <b>Time:</b> "+time+"</dt>")
            container.append("<dt>"+"<b>Magnitude:</b> "+magnitude+" Mw"+ "</dt>")
            container.append("<dt>"+"<b>Source depth:</b> "+depth+" km"+ "</dt>")
            container.append( '<a href='+link1+' onclick="return popup(this,width=1000,height=500)" title="Event Information"><img src="static/thumbnail1.png"  height='+height+' width='+width+'/> </a>');
            container.append( '<a href='+link2+' onclick="return popup(this,width=1000,height=500)" title="Waveform Comparison"><img src="static/thumbnail2.png"  height='+height+' width='+width+'/> </a>');
            container.append( "<dt>"+'<a href='+link3+' onclick="return popup(this,width=1000,height=500)" title="Wavespeed Estimation"><img src="static/thumbnail3.png"  height='+height+' width='+width+'/> </a>'+'<a href='+link4+' onclick="return popup(this,width=1000,height=500)" title="P-Coda Evaluation"><img src="static/thumbnail4.png"  height='+height+' width='+width+'/> </a>'+"</dt>");
            container.append( '<a href='+json+ " target = '_blank'>Seismic Event Info [.json-Format]</a>");
            if (feature.properties.time) {
                layer.bindPopup(container[0]);
            }
        }
        
        $(function() {
            // initialize the map
            var map = L.map('map').setView([0, 5], 1);
            L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
                attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
                maxZoom: 18,
                minZoom: 1,
                id: 'salve-.o6ff8adn',
                accessToken: "pk.eyJ1Ijoic2FsdmUtIiwiYSI6ImNpZ3M0NDF5MzAwNzZ2bmt1bmk5aGU4aG0ifQ.vdmDEhNU-bKA73pZS31_Ag"
            }).addTo(map);


            var station = L.geoJson({
                "type": "Feature",
                "properties": {
                    "names": "Station Wettzell",
                    "linkromy": "This is where the Ringlaser and STS2 are!",
                },
                "geometry": {
                    "type": "Point",
                    "coordinates": [12.875677, 49.144984]
                }
            })         
            .addTo(map).bindPopup("<b>Station Wettzell:</b> G-Ring site" + "<br>" +'<img src="static/image_Gring.jpg" height="120" width="200"/>');
            
            L.control.mousePosition().addTo(map);
            var markers
            markers = new L.LayerGroup().addTo(map);
            var submit_form = function(e) {
                $.getJSON($SCRIPT_ROOT +'/query', {
                    start: $('input[name="start"]').val(),
                    end: $('input[name="end"]').val(),
                    minmag: $('input[name="minmag"]').val(),
                    maxmag: $('input[name="maxmag"]').val(),
                    minlon: $('input[name="minlon"]').val(),
                    maxlon: $('input[name="maxlon"]').val(),
                    minlat: $('input[name="minlat"]').val(),
                    maxlat: $('input[name="maxlat"]').val()
                }, function(data) {
                    // window.alert(JSON.stringify(data.features[0])) //"Zero events for the specified parameter range!")
                    if (typeof data.features[0] === 'undefined') {
                        swal({
                          title: "Error!",
                          text: "More than 2500 events in the specified parameter range. Please confine!",
                          type: "error",
                          confirmButtonText: "Ok"
                        });
                    }
                    else {
                        swal({timer :2000, closeOnConfirm:false, showConfirmButton:false,
                          title: "Found " + data.features.length + " event(s) in database!",
                          type: "success",
                          // confirmButtonText: "Ok"
                        });
                        markers.clearLayers(); // so markers for each new search are not plotted ontop of the old ones
                        var marker = L.geoJson(data, {onEachFeature: onEachFeature,
                            pointToLayer: function (feature, latlng) {
                                if (feature.properties.depth < 10) {
                                    var color_fill = "yellow"}
                                else if (feature.properties.depth > 10 && feature.properties.depth < 30) {
                                    var color_fill = "#FF9966"}
                                else if (feature.properties.depth > 30 && feature.properties.depth < 100) {
                                    var color_fill = "red"}
                                else if (feature.properties.depth > 100 && feature.properties.depth < 200) {
                                    var color_fill = "green"}
                                else {var color_fill = "blue"}

                                var geojsonMarkerOptions = {
                                    radius: Math.pow(feature.properties.magnitude,3)/50.,
                                    fillColor: color_fill,
                                    color: "#000",
                                    weight: 1,
                                    opacity: 0.8,
                                    fillOpacity: 0.5
                                };    
                                return L.circleMarker(latlng, geojsonMarkerOptions);
                            }
                        }).addTo(markers);
                    };
                    // $('input[name="start"]').focus().select();
                });
                return false; // to avoid default behavior aka navigation to '#'
            L.rectangle(bounds, {color: "#ff7800", weight: 1}).addTo(map);
            };
            $('a#calculate').bind('click', submit_form);
            $('input[type=text]').bind('keydown', function(e) {
                if (e.keyCode == 13) {
                    submit_form(e);
                }
            });
            // $('input[name="start"]').focus();
        });
    </script>
  
  
    <br>
    <center>
        <table style=" margin-right:0px" border="1" frame="hsides">
            <tr>
                <td bgcolor="#FFFF99" width="110px" align="center"> <font size="1">d &lt 10km</font></td>
                <td bgcolor="#FFCC99" width="110px" align="center"> <font size="1">10km &lt d &lt 30km </font></td>
                <td bgcolor="#FF0000" width="110px" align="center"> <font size="1"> 30km &lt d &lt 100km </font></td>
                <td bgcolor="#33CC66" width="110px" align="center"> <font size="1">100km &lt d &lt 200km</font></td>
                <td bgcolor="#0099FF" width="110px" align="center"> <font size="1">d &gt 200km</font></td>
            </tr>
        </table>
    </center>
    <center>
        <span style="padding-right:0px">
        <font size="2"><b>color codes depth</b></font><br>
        <img src="static/magnitude_table.png"/><br>
        <font size="2"><b>size codes magnitude</b></font>
    </center>
  </tr>
  </table>
  </center>
  </td>
    <tr>
      <td bgcolor="#f2f2f2" border="0" colspan="2" align="right">
        <font size="2" color="grey"><b>contact:</b> jsalvermoser@geophysik.uni-muenchen.de<br>Copyright &copy Johannes Salvermoser 2016</font>
      </td>
    </tr>
<table>
</center>
{% endblock content %}

